@import "bulma";
@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($property, $duration, $timing:null, $delay:null) {
  -webkit-transition: $property $duration $timing $delay;
  -moz-transition: $property $duration $timing $delay;
  -o-transition: $property $duration $timing $delay;
  transition: $property $duration $timing $delay;
}

@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    background: #fff;
}

#mobile-navigation-toggle {
    position: fixed;
    z-index: 250;
    left: 20px;
    bottom: 15px;
    width: 70px;
    height: 70px;
    background: #009edd;
    @include rounded(70px);
    @include noselect();
    line-height: 70px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    .hidden {
        display: none;
    }
}

#mobile-navigation-container {
    overflow: hidden;
    position: fixed;
    z-index: 249;
    display: block;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background: #f3f5f4;
    @include transition(left, .3s, ease-in-out, 0s);
	padding: 15px 20px;
	font-size: 18px;
    &.open {
		left: 0;
        @include transition(left, .3s, ease-in-out, 0s);
        width: 100%;
        overflow-y: scroll;
    }
	.mobile-navigation-header {
		margin-bottom: 15px;
		.mobile-navigation-back {
			color: #003f63;
			font-size: 16px;
		}
	}
	ul {
		li {
			border-bottom: 1px solid rgba(231, 229, 224, 0.8);
			a {
				padding: 15px 0;
				display: inline-block;
			}
			.goto-submenu {
				display: block;
				float: right;
				padding: 15px 0 15px 30px;
			}
		}
	}
}